/*
 * -------------------------------------------------
 *  Nextflow config file for Computerome settings
 * -------------------------------------------------
 * Defines input files and everything required
 * to run pipeline on Computerome (computerome.dk). Use as follows:
 *   nextflow run GAGA_Metagenome.nf -profile computerome,<docker/singularity>
 */

 params {
   config_profile_name        = 'computerome'
   config_profile_description = 'run the pipeline on Computerome (computerome.dk)'

   // Limit resources so that this can run CI
   max_cpus   = 40
   max_memory = 180.GB
   max_time   = 24.h

   // Input genome assembly data
   input = '/home/people/dinghe/ku_00039/people/joeviz/GAGA_genomes/Genome_assemblies/Final_PacBio_assemblies/GAGA-0080_nextpolish.fasta'

   // Genome references
   fasta            = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa'
   gtf              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf.gz'
   gff              = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gff.gz'
   transcript_fasta = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/transcriptome.fasta'
   additional_fasta = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/gfp.fa.gz'

   hisat2_index     = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/hisat2.tar.gz'
   star_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/star.tar.gz'
   salmon_index     = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/salmon.tar.gz'
   rsem_index       = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/rsem.tar.gz'

   // Other parameters
   pseudo_aligner      = 'salmon'
   umitools_bc_pattern = 'NNNN'

   // When using RSEM, remove warning from STAR whilst building tiny indices
   modules {
     'rsem_preparereference' {
       args2 = "--genomeSAindexNbases 7"
     }
   }
 }
